include head
include navbar-user   
block user 

    .bg-image.list1
        .container 
            #{data}
            #welcome Welcome #{user.firstName}
            p
                | Double-click to move item from one list to the bottom of the other.

    .bg-image-color4 
        .container
            .row
                .col
                    label Add Item:
                    //- form(action="/api/newitem" method="POST")
                    form
                        .form-group.row
                            .col-sm-8
                                input(type="text" class="form-control" name="name")
                            .col.add-item-btn
                                button(class="btn add-item" type="button") Add it
            .row
                .col-sm-4
                    label Add to List:
                    ul#allGroceries.grocery-list 
                        #{data}
                        each item in items
                            li(class="item main-list" data-id=item.id)=item.name
    
                .col-sm-4
                    label Your Shopping List: 
                    ul#userGroceries.grocery-list
                        #{data}
                        each item in items 
                            if item.category === 0
                                li(class="item"
                                data-id=item.id)
                                    =item.name
                            
                .col-sm-4
                    label In Your Cart: 
                    ul#groceryCart.grocery-list
                        #{data}
                        each item in items 
                            if item.category === 1
                                li(class="item" data-id=item.id)=item.name

include footer